<!DOCTYPE html>
<html>
  <head>
    <title>Pets in Hats</title>
  </head>
  <body>
    <h1>  Get ready to see an animal with a hat!</h1>
  <form mwthod="POST">
    <h4>CHOOSE AN ANIMAL:</h4>
    <br>
    <input type ="radio" name="user_animal" value="Dog">Dog<br>
    <input type ="radio" name="user_animal" value="cat">Cat<br>
    <h4>CHOOSE A HAT:</h4>
    <br>
    <input type ="radio" name="user_hat" value="party-hat">Party Hat<br>
    <input type ="radio" name="user_hat" value="top-hat">Top Hat<br>
    <input type ="radio" name="user_hat" value="bucket-hat">Bucket Hat<br>
    <input type ="submit" value="Show me the money">
  </form>
  </body>
  #FORM METHOD GOES HERE
  #WE NEED AN OPTION FOR THE PETS (DOG, CAT)
  #WE NEED ANOTHER OPTION FOR TYPE OF HAT (PARTY, TOP HAT, BUCKET HAT)
</html>