#THIS WILL DESPLAY THE IMAGE OF THE ANIMAL IN THE HAT
<!DOCTYPE html>
<html>
  <head>
    <title>Results!</title>
  </head>
  <body>
    <h1>HERE IS YOUR PICTURE OF AN ANIMAL IN A HAT!<h1>
    <img src="<%=@animal_pic%>"/>"
  </body>
</html>